// https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=514a46&secondary.color=e86500

// re-entry orange
$reentry-orange-light: #ff953d;
$reentry-orange: #e86300;
$reentry-orange-dark: #af3500;

// battle-tech grey
$battletech-grey-light: #7d7671;
$battletech-grey: #514a46;
$battletech-grey-dark: #29221f;

// necessary neutrals
$neutral-white: #ffffff; // cloud white
$neutral-lightest: #f5f5f6;
$neutral-lighter: #e1e2e1;
$neutral: #999999;
$neutral-darker: #666666;
$neutral-darkest: #333333;
$neutral-black: #000000;
