$small: 0.5rem;
$normal: 1rem;
$large: 1.5rem;
$huge: 2rem;

$margin-small: 0.5rem;
$margin-normal: 1rem;
$margin-large: 1.5rem;
$margin-huge: 2rem;

$padding-small: 0.5rem;
$padding-normal: 1rem;
$padding-large: 1.5rem;
$padding-huge: 2rem;
