$primary: var(--theme-primary);
$on-primary: var(--theme-on-primary);
$primary-light: var(--theme-primary-light);
$on-primary-light: var(--theme-on-primary-light);
$primary-dark: var(--theme-primary-dark);
$on-primary-dark: var(--theme-on-primary-dark);

$secondary: var(--theme-secondary);
$on-secondary: var(--theme-on-secondary);
$secondary-light: var(--theme-secondary-light);
$on-secondary-light: var(--theme-on-secondary-light);
$secondary-dark: var(--theme-secondary-dark);
$on-secondary-dark: var(--theme-on-secondary-dark);

$background: var(--theme-background);
$on-background: var(--theme-on-background);
$surface: var(--theme-surface);
$on-surface: var(--theme-on-surface);
$error: var(--theme-error);
$on-error: var(--theme-on-error);
