@use 'sass/vars';

.App {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: vars.$font-family-sans;
  font-size: vars.$font-size-normal;
  -webkit-font-smoothing: antialiased;
}
