@use 'sass/vars';
@import 'sass/fonts';
@import 'sass/sanitize';

/* box-sizing simple reset */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
/* /box-sizing simple reset */

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: vars.$font-family-sans;
  font-size: vars.$font-size-base;
};
