@use 'sass/vars';
.TemporalUplift {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  width: 400px;
  margin: 0 auto; // foo
  padding: 20px;

  background-color: vars.$color-reentry-orange;
};
