@use 'sass/vars';

.ErgoTimer {
  box-sizing: padding-box;
  display: flex;
  flex-direction: column;

  width: 400px;
  margin: 0 auto; // foo
  padding: 20px;

  background-color: vars.$color-reentry-orange;

  h6 {
    margin: 0;
  }

  .ErgoTimer--stopwatch-container {
    display: flex;
    align-items: center;

    .ErgoTimer--the-timer-container {
      flex: 1 0;
      font-weight: vars.$font-weight-boldest;
      background-color: vars.$color-reentry-orange-light;
    }
  }
}
